.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 20px;
}
.form{
    width: 40em;
}

.title-container {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}
.input-title{
}
.input-title,
.input-content {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.btn-post {
    margin-top: 20px;
}