.post-item {
  margin-bottom: 70px;
  max-height: 250px;
  width: 50em;
  border-radius: 10px;
  border-bottom: 1px solid #e2e2e2;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  display: flex;

}
.content {
  flex-grow: 1;
  flex-direction: column;
  gap:5px;
  display: flex;
}

.btn {
  display: flex;
  border: none;
/* align-self: flex-end; */
  gap: 10px;
}
.btn-item{
  font-weight: 600;
}

